* {
  margin: 0px;
  padding: 0px;
}

#logo img {
  margin: 10px 0px 10px 50px;
  width: 50%;
}

#head {
  width: 15%;
  align-items: center;
  color: black;
}

#navbar {
  display: flex;
  background-color: white;
  align-items: center;
  position: relative;
}

#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: white;
  /*  background-image: url(/images/bg_new_4.jpg);*/
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
}

#navbar ul li {
  font-size: 1.3rem;
  list-style: none;
}

#navbar ul li a {
  padding: 5px 20px;
  display: block;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

#navbar ul li a:hover {
  background-color: rgb(189, 189, 189);
  color: black;
}

.end {
  background-color: #446290;
  margin-top: 100px;
  padding-top: 40px;
  padding-left: 60px;
  font-size: 25px;
  padding-bottom: 40px;
}

.end {
  display: flex;
}

.cont {
  color: white;
  margin-left: 100px;
  width: 40%;
}

.loc a img {
  width: 50%;
  margin-left: 200px;
}
.facil {
  font-family: 'Aref Ruqaa Ink', serif;
  text-align: center;
  margin-top: 8px;
}
hr{
  margin-top: 10px;
}
.machines_have{
  text-align: center;
  font-family: 'Aref Ruqaa Ink', serif;
  font-size: 24px;
}
.m1{
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.m1_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 24px;
  margin-left: 100px;
  margin-top: 50px;
}
.m1_abt p{
  margin-top: 50px;
}
.m2{
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
.m2_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 24px;
  margin-left: 100px;
  margin-top: 50px;
}
.m2_abt p{
  margin-top: 50px;
}
.meas{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
}
.meas_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 24px;
  margin-left: 100px;
  margin-top: 10px;
}
.meas_abt p{
  margin-top: 50px;
}
.meas_img{
  margin-left: 40px;
  margin-top: 70px;
  border-radius: 5px;
}
.m3{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
 /* border: 2px solid black;*/
}
.m3_img{
  padding-left: 50px;
}
.m3_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 24px;
  margin-left: 100px;
  text-align: center;
}
.m3_abt p{
  margin-top: 50px;
}
@media screen and (max-width:480px)
{
  #logo img{
    margin: 0.7em 0.7em 0.7em 0.7em;
    width: 60%;
}
#head{
    width: 10%;
    align-items: center;
    color: black;
    font-size: 0.4em;
    margin-left: -8px;
}
#navbar{
    display: flex;
    background-color: white;
    align-items: center;
    position: relative;
}
#navbar ul{
    display: flex;
    margin-left: 20px;
}
#navbar::before{
    content:"" ;
    background-color: white;
  /*  background-image: url(/images/bg_new_4.jpg);*/
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}
#navbar ul li{
    font-size: 0.5em;
    list-style: none;
}
#navbar ul li a{
    padding: 0.5em 2em;
    display: block;
    border-radius: 1em;
    text-decoration: none;
    color: black;
}
#navbar ul li a:hover{
    background-color: rgb(189, 189, 189);
    color: black;
}
.end{
  padding-bottom: 2em;
  margin-left: 0em;
  padding-left: 0px;
}
.end{
  display: flex;
}
.cont{
  margin-left: 0px;
  padding-left: 10px;
  font-size: 0.5em;
}
.loc{
  align-content: center;
}
.loc a img{
  margin: 0px 0px 0px 30px;
  padding: 0px 0px 0px 0px;
  width: 60%;
  height: 70%;
}
.facil {
  font-family: 'Aref Ruqaa Ink', serif;
  text-align: center;
  margin-top: 8px;
}
hr{
  margin-top: 10px;
}
.machines_have{
  text-align: center;
  font-family: 'Aref Ruqaa Ink', serif;
  font-size: 0.7em;
}
.m1{
  display: flex;
  margin-top: 2em;
  margin-left: 0em;
  margin-right: 0em;
}
.m1_img{
  width: 50%;
}
.m1_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 0.7em;
  margin-top: 1em;
  margin-left: 0.5em;
}
.m1_abt p{
  margin-top: 1em;
  margin-left: 0em;
  padding-left: 0em;
}
.m2{
  display: flex;
  margin-top: 2em;
  margin-left: 0.1em;
  margin-right: 0.5em;
}
.m2_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 0.7em;
  margin-left: 0.5em;
  margin-top: 1em;
}
.m2_abt p{
  margin-top: 1em;
}
.m2_img{
  width: 23%;
}
.meas{
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
}
.meas_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 0.7em;
  margin-left: 0.5em;
  margin-top: 1em;
}
.meas_abt p{
  margin-top: 1em;
}
.meas_img{
  margin-left: 0.1em;
  margin-top: 3em;
  border-radius: 0.5em;
  width: 50%;
}
.m3{
  display: flex;
  margin-left: 0.1em;
  margin-right: 0.1em;
 /* border: 2px solid black;*/
}
.m3_img{
  padding-left: 0.1em;
  width: 50%;
}
.m3_abt{
  font-family: 'Aref Ruqaa Ink', serif;
  width: 60%;
  font-size: 0.7em;
  margin-left: 0.2em;
  text-align: center;
}
.m3_abt p{
  margin-top: 1em;
}
}